<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>What:</b>
  <%= @project.what %>
</p>

<p>
  <b>When:</b>
  <%= @project.when %>
</p>

<p>
  <b>Why:</b>
  <%= @project.why %>
</p>

<p>Created <%= timestamp @project.created_at, 'on %F' %></p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
